---
const today = new Date();
---

<footer
  class="font-body text-light-gray p-4 w-full relative z-50 md:p-8 md:z-auto"
>
  <p class="leading-4">
    Copyright {today.getFullYear()} &copy; - Humberto Avila <br />
    Made by <a class="underline" href="#">UvealSnow</a>
  </p>
</footer>
