---
// import { SITE_TITLE } from '../consts';
import Menu from '~/assets/icons/menu.svg'
import Close from '~/assets/icons/close.svg'

const links = [
	{ href: '/', label: 'Inicio' },
	{ href: '/proyectos', label: 'Proyectos' },
	{ href: '/sobre-mi', label: 'Sobre mí' },
	{ href: '/blog', label: 'Blog' },
	{ href: '/tienda', label: 'Tienda' },
	{ href: '/contact', label: 'Contacto' }
];
---

<header>
	<nav class="navbar">
		<div class="logo"></div>
		
		<button class="action">
			<Menu class="block" />
			<Close class="hidden" />
		</button>
	</nav>

	<div class="nav-links font-body bg-off-white hidden">
		<ul class="flex flex-col h-full md:flex-row justify-center items-center gap-10">
			{links.map(link => (
				<li>
					<a href={link.href} class="text-gray-700 hover:text-gray-900">
						{link.label}
					</a>
				</li>
			))}
		</ul>
	</div>
</header>

<style lang="scss">
@reference "tailwindcss";

.navbar {
	@apply px-4 py-6 flex flex-row justify-between w-full fixed top-0 z-50;

	.logo {
		background-color: bisque;
		height: 62px;
		width: 180px;
	}

	.action {
		@apply cursor-pointer;
	}
}

.nav-links {
	@apply text-4xl h-screen w-screen top-0 left-0 absolute;
}
</style>
